body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.main-page {
    width: 60vh;
    height: 90vh;
    overflow-y: auto;
    border-radius: 5px;
    border: 0.5px solid #ccc;

}

.login {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px;
    margin-bottom: 20px;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #4c56af;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.username {
    font-weight: bold;
    color: #4CAF50;
    position: absolute;
    top: 15px;
    right: 20px;
}